<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>This dataset is well-organized and well-cleaned.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>It is not. There are some missing values in columns such as "winner_height" and "winner_seed".
	I found those missing values by examing the dataset with pandas isna() function (which checks all values 
    in a dataset that is N/A or not). <br/>
    Luckily, some columns seems not relevant for what I want, for this part of data, I can just discard the whole
    column. However, for some other columns, such as "winner_rank", "surface" and "loser_rank", I need to replace them
    with a new value. I think the decision can be made depend on the nature of the column. For example, the players
    does not have rank are mostly with a very low rank and are not in the ATP ranking database. In this case, I give
    all players the save value which is lower than the lowest available rank in the database. For columns like "surface",
    clearly it is not reasonable to assign a random value to it. Hence I made a "Unknown" value and put it in the missing values.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>This dataset is coherent and it make sense. I explored the relationship between several columns and graphed as below.
    I checked the number of appearance of each player's name in both winner_name and loser_name column. Clearly, most players with
    higher rank appeared in the winner_name column the most often, while it is different for low-ranked players. Moreover, I did sanity-check on some columns as well. For example, the 
    rank of a player in the same tournament should remain same and there should not have two players holding the same rank in a tournament.<br/>
    Based on my experience of watching tennis, I think these phomonema observed in the dataset make sense and are coherent to my knowledge.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>I can verify the data by cross-checking columns of it with the ATP official data. I chose several columns: "winner_rank", "score" and "surface"
	from randomly-selected 20 rows and compared these values to the official data. I also selected 5 rows from the 20 above and checked the remaining
	columns. It appears that the data I checked can all match the official data, hence I believe that the data is correct.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
